body{
    font-family: "Raleway", sans-serif;
}

body, html {
    height: 100%;
    line-height: 1.8;
}

.w3-bar .w3-button {
    padding: 16px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    margin: auto;
    width: 50%;
}

.center-text {
    text-align: center;
}

.footer-text {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.mygreen-bg {
    background-color: #00CC00;
}

.mygreen-text {
    color: #00CC00;
}

.mygrey-bg {
    background-color: #303030;
}

.mygrey-text {
    color: #303030;
}

.white-text {
    color: #FFFFFF;
}

.contactform {
    padding-left: 35%;
    padding-right: 35%;
}

.title {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
}

.title-special {
    font-size: 30px;
    text-transform: uppercase;
    background-image: linear-gradient(
            -225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.classic-text {
    font-size: 15px;
    color: #FFFFFF;
}

footer {
    padding: 30px;
}

.home-icon {
    padding-right: 10px;
}

.button-logo {
    background-color: #FFFFFF;
    border: none;
    padding: 10px 30px;
    text-align: center;
    font-size: 18px;
    margin: 5px 5px;
    transition: 0.4s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.button-logo:hover, .button-menu:hover {
    background-color: #303030;
    color: #00CC00;
}

.button-menu {
    background-color: #FFFFFF;
    border: none;
    padding: 10px 10px;
    margin: 5px 5px;
    text-align: center;
    font-size: 18px;
    transition: 0.4s;
    display: inline-block;
    text-decoration: none;
}

.sm-opacity:hover {
    color: #00CC00;
    transition: 0.3s;
}

.button-footer {
    border-radius: 4px;
    padding: 5px 10px;
    margin: 4px 0;
    background-color: #FFFFFF;
    text-decoration: none;
    font-size: 12px;
}

.button-footer:hover {
    border: 2px solid #00CC00;
    font-weight: 800;
    background-color: white;
    color: #00CC00;
    margin: 0;
}

.index-text {
    font-size: 20px;
}

.index-title {
    font-size: 50px;
}

.index-center {
    margin-top: 150px;
}

.register {
    padding-top: 5px;
    text-decoration: none;
}

.register:hover {
    color: #00CC00;
}

.image {
    width: 100%;
}

.theme-image {
    max-width: 100%;
    height: auto;
}

.bar1 {
    width: 90%;
}

.bar2 {
    width: 85%;
}

.bar3{
    width: 75%;
}

.promo1 {
    padding:50px 16px;
}

.promo2 {
    color: #FFFFFF;
    padding: 20px;
}

.responsive {
    max-width: 100%;
    height: auto;
}

.rows {
    margin-top: 20px;
    margin-bottom: 10px;
}

.columns {
    margin-bottom: 10px;
}

.labels {
    margin-bottom: 10px;
}

.section {
    margin-top: 100px;
    margin-bottom: 100px;
}

.breedclub-name {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    padding-left: 15px;
    font-weight: bold;
    text-decoration: none;
}

.gallery-picture {
    display: inline-block;
    width: 700px;
    height: 400px;
    object-fit: cover;
}

.club-text-section {
    display: inline-block;
    padding-left: 10px;
    font-size: 19px;
    margin-top: -10px;
}

.breedclub {
    margin-bottom: 30px;
    padding-bottom: 10px;
    background: rgba(153,153,153,0.2);
}

.login-button {
    margin-left: -1px;
    padding: 5px 10px;
}

.login-line {
    margin: 5px 0;
}

.dropdown {
    display: inline-block;
}

.dropbtn {
    background-color: #FFFFFF;
    border: 1px solid #00CC00;
    padding: 15px 10px;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    margin: 5px 15px 5px 5px;
}

.dropbtn:hover {
    background: #303030;
    transition: 0.4s;
    color: #00CC00;
}

.dropdown-content {
    margin-top: 15px;
    display: none;
    background: lightgrey;
    position: absolute;
}

.dropdown-content a {
    color: black;
    padding: 10px 5px 5px 10px;
    text-decoration: none;
    display: block;
    overflow: auto;
}
.show {
    display:block;
}

.dropmenubtn:hover {
    background-color: #303030;
    color: #00CC00;
}
.errortext {
    font-size: 17px;
    color: red;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .club-text-section {
        padding-top: 10px;
        font-size: 15px;
        margin-left: -10px;
}
    .gallery-picture {
        width: 350px;
        height: 200px;
    }
    .breedclub-name {
        font-size: 20px;
    }
    .doggyimg {
        margin-top: 50px;
    }
    .smallscreen-index {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .index-text {
        font-size: 15px;
    }
    .index-title {
        font-size: 40px;
    }
}
@media screen and (max-width: 1200px) {
    .contactform {
        padding-left: 25%;
        padding-right: 25%;
    }
}
.shows {
    border: 1px black solid;
    padding: 15px 10px 30px;
    margin-bottom: 30px;
}
.shows_text {
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
}
.logo {
    width: 100px;
    height: 100px;
    float: left;
    position: relative;
    margin-right: 10px;
}

.admin_show_button_create {
    background-color: #FFFFFF;
    border: 1px solid #00CC00;
    padding: 10px 10px;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    margin: 5px 5px 5px 5px;
}
.admin_show_button_create:hover {
    background-color: #303030;
    color: #00CC00;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}

.lastline {
    margin-left: 110px;
}